.label
  .field1
    =  empty_ness label_datum.field1
  .field2
    = empty_ness label_datum.field2
  .field3
    =  empty_ness label_datum.field3
  %br
  - if label_datum.field5.length < 28 then
    .field5.shortname
      = label_datum.field5
  - elsif label_datum.field5.length < 36 then
    .field5
      = label_datum.field5
  - else
    .field5.longname
      = label_datum.field5
  %br
  .field9
    = empty_ness label_datum.field9
  %br
  .field10
    = label_datum.field10
  .field11
    = label_datum.field11
